<h1><%=@owner.first_name + " " + @owner.last_name%></h1>
<h1><%=@owner.age%></h1>
<h1><%=@owner.email%></h1>

<%= button_to "destroy", @owner, :method => :delete %>

<%=link_to "Edit This Owner", "/owners/#{@owner.id}/edit"%>
