<h1>Pets Edit</h1>

<%=form_for @pet do |f|%>
  <%=f.label "name"%>
  <%=f.text_field "name"%>
  <%=f.select :category, ["cat", "dog", "bird"], :prompt => 'Select One'%>
  <%=f.collection_select(:owner_id, @owners, :id, :full_name, prompt:true)%>
  <%=f.submit "Update"%>
<%end%>
